<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Page title, text displayed in browser tab-->
    <title><%= title %></title>

    <!-- Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:url" content="<%= pageUrl %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= imgUrl %>">

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@partlygloudy">
    <meta name="twitter:creator" content="@partlygloudy">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:image" content="<%= imgUrl %>">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Custom JS -->
    <script src="/static/blog.js"></script>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/blog.css">

</head>

<body>

<!-- Header bar with logo and name -->
<div id="header-bar">

    <!-- Logo -->
    <img id="header-logo" src="/static/img/logo.svg" alt="" />

    <!-- Name -->
    <h1 id="header-title">Jake Gloudemans</h1>

    <!-- Buttons to show / hide side panel on narrow view -->
    <div id="menu-button-wrapper">
        <div class="menu-button" id="menu-button-open">menu</div>
        <div class="menu-button hidden" id="menu-button-close">hide</div>
    </div>

</div>

<!-- Main content - current post and archive panel -->
<div id="main-content">

    <!-- Current blog post - left side of screen -->
    <div id="post-bucket">

        <%- mainContent %>

    </div>

    <!-- Archive panel with links to posts and other blogs and publications -->
    <div id="archive-panel" class="hidden">

        <!-- Panel showing recent blog posts - populated by js on page load -->
        <div class="archive-panel-section">
            <h2 class="archive-panel-header">Recent Posts</h2>
            <ul class="archive-panel-link-list" id="archive-panel-recent"></ul>
            <p id="archive-link"><a href="/archive">-- See Full Archive --</a></p>
        </div>

        <!-- Panel linking to recommended blogs - populated by js on page load -->
        <div class="archive-panel-section">
            <h2 class="archive-panel-header">Recommended Blogs</h2>
            <ul class="archive-panel-link-list" id="archive-panel-blogs"></ul>
        </div>

        <!-- Panel linking to recommended publications - populated by js on page load -->
        <div class="archive-panel-section">
            <h2 class="archive-panel-header">Recommended Publications</h2>
            <ul class="archive-panel-link-list" id="archive-panel-pubs"></ul>
        </div>

    </div>

</div>

<!-- Footer -->
<div id="footer">

    <div id="copyright-text">
        <span>&copy; 2023 Jake Gloudemans</span>
    </div>

</div>

</body>
</html>
